.info5{
    background-color: #555d66;
    text-align: center;
    color: white;
    padding: 5% 5% 0%;
}
.info5 h2{
    font-family: Oswald, sans-serif !important;
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 1.1;
}
.info5 p{
    font-family: 'Open Sans',sans-serif;
    font-size: 1.25rem;
    line-height: 1.6;
    width: 60%;
    margin-left: 20%;
}