.info2{
    background-color: #858e99;
    color: white;
    padding: 5% 10% ;
}
.info2 .text{
    text-align: center;

}
.info2 .text h2{
    font-weight: 400;
    font-size: 2.25rem;
}
.info2 .text p{
    width: 60%;
    margin-left: 20%;
    font-size: 1.25rem;
    line-height: 1.6;
    font-weight: 300;
}
.info2 .icons{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 5%;
}
.info2 .icons i{
    font-size: 40px;
}
.info2 .icons h3{
    font-size: 1.125rem;
    font-weight: 300;
    margin-top: 30px;
    letter-spacing: 0.5px;
}